page {
    background-color: rgb(205, 243, 255);
    margin-bottom: 80rpx;
}

.contain {
    padding: 20rpx;

    .user {
        background-color: rgb(94, 168, 252);
        border-radius: 30rpx;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 40rpx;

        view {
            color: ghostwhite;
            font-weight: bolder;
            width: 150rpx;
            height: 70rpx;
            overflow: hidden;
        }

        image {
            margin: 0rpx 20rpx;
            width: 30%;
            border-radius: 50%;
        }
    }

    .center {
        position: relative;
        color: rgb(97, 97, 97);
        background-color: white;
        min-height: 900rpx;
        margin-top: 30rpx;
        border-radius: 30rpx;
        padding: 20rpx;

        .item_name {
            font-size: 40rpx;
        }

        .item_content {
            //background-color: rgb(240, 240, 240);
        }

        .tag {
            position: absolute;
            display: flex;
            height: 2rem;
            //background-color: yellow;
            bottom: 0;
            left: 0;
            justify-content: space-around;
            width: 100%;
        }
    }

    .center_discuss{
        display: flex;
        flex-direction: column;
        .each{
            display: flex;
            background-color: white;
            margin: 10rpx auto;
            width:90%;
            padding: 20rpx;
            text-align: center;
            align-items: center;
            border-radius: 30rpx;
            view{
                image{
                    border-radius: 50%;
                    width: 90rpx;
                }
            }
        }
    }

    .bottom {
        position: fixed;
        bottom: 0;
        height: 100rpx;
        background-color: rgb(202, 221, 245);
        width: 90vw;
        border-radius: 30rpx;
        overflow: hidden;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        .bottom_image {
            border-radius: 50rpx;
            width: 80rpx;
            height: 80rpx;
            text-align: center;
            margin-left: 30rpx;
        }
        .form {
            height: 100%;
            width: 90%;
            display: flex;
            flex-direction: row;
            .input_submit {
                background-color: rgb(14, 116, 233);
                width: 80rpx;
                color: white;
                padding: 0;
                font-size: 25rpx;
                padding-top:15rpx ;
            }
            .input_contain {
                height: 2rem;
                width: 60vw;
                color: rgb(116, 119, 116);
            }
        }
    }
}